@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  color: whitesmoke;

  background-color: #d5fefd;
  background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
}
/* Navbar Start */
.navbar-container {
  position: sticky;
  z-index: 2;
  margin-top: 1px;
  top: 0;
  width: 100%;
}

.navbar-brand {
  color: whitesmoke !important;
  font-style: italic;
  font-size: 25px;
}
.navbar-bg {
  background-color: #007aff !important;
  border-bottom: 2px solid whitesmoke;
}
.nav-item {
  padding: 0 15px;
}

#navbarNav a {
  font-family: "Arvo", serif !important;
  color: whitesmoke !important;
  font-style: italic;
}

#navbarNav a:hover {
  border-bottom: 3px solid whitesmoke;
}
.navbar-toggler-icon {
  border: 2px solid whitesmoke;
  border-radius: 5px;
}
/* End of Navbar */

/* Title Heading */

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  text-align: center;
  height: 250px;
  background-image: url(/Images/math-1500720_1280.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  float: left;
  width: 100%;
  text-align: center;
  color: #007aff;
  font-size: 40px;
  font-weight: 800;
  position: relative;
}
.section-separator {
  float: left;
  width: 100%;
  position: relative;
  margin: 15px 0;
}
.section-separator:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 3px;
  width: 50px;
  border-radius: 3px;
  z-index: 2;
  background-color: #007aff;
  margin-left: -25px;
}

.text-heading {
  font-weight: bold;
  font-size: 5vw;
  text-align: center;
  line-height: 0.8;
  letter-spacing: -0.5;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Tenth Standard PYQ Table */

.table-container {
  margin: 30px;
  text-align: center;
}
.table-caption {
  padding-bottom: 10px;
}

.table-container strong {
  font-size: 8vh;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: capitalize;
  color: #0f0f0f;
  border-bottom: 1vh solid #007aff;
  border-radius: 3px;
}

table,
th,
td {
  border: 2px solid #0f0f0f;
  border-collapse: collapse;
  width: auto;
}

th,
td,
a {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color: #0f0f0f;
}
td a {
  color: #007aff;
}

th {
  background-color: #007aff;
  color: whitesmoke;
  margin: 30px;
}

/* Footer */

.page-footer {
  background: #007aff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4a00e0, #007aff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4a00e0, #007aff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
}
.page-footer a {
  color: whitesmoke;
}
