body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #d3cce3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e9e4f0, #d3cce3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #0f0f0f;
}

/* Navbar Start */
.navbar-container {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
}

.navbar-brand {
  color: whitesmoke !important;
  font-family: "Style Script", cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
}

.navbar-bg {
  background-color: #8e2de2 !important;
  border-bottom: 2px solid whitesmoke;
}

#navbarNav a {
  color: whitesmoke !important;
}

/* Title Heading */

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  text-align: center;
  height: 250px;
  background-image: url(/Images/math-1500720_1280.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-heading {
  font-weight: bold;
  font-size: 5vw;
  text-align: center;
  line-height: 0.8;
  letter-spacing: -0.5;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Tenth Standard PYQ Table */

.table-container {
  margin: 30px;
  text-align: center;
}
.table-caption {
  padding-bottom: 10px;
}

.table-container strong {
  font-size: 8vh;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: capitalize;
  color: #0f0f0f;
  border-bottom: 1vh solid #8e2de2;
  border-radius: 3px;
}

table,
th,
td {
  border: 2px solid #0f0f0f;
  border-collapse: collapse;
  width: auto;
}

th,
td {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

th {
  background-color: #8e2de2;
  color: whitesmoke;
  margin: 30px;
}

/* Footer */

.page-footer {
  background: #8e2de2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
}
