@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  overflow-x: hidden;
  color: whitesmoke;

  background-color: #d5fefd;
  background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
}
/* Navbar Start */
.navbar-container {
  position: sticky;
  z-index: 1;
  margin-top: 1px;
  top: 0;
  width: 100%;
}

.navbar-brand {
  color: whitesmoke !important;
  font-style: italic;
  font-size: 25px;
}
.navbar-bg {
  background-color: #8e2de2 !important;
  border-bottom: 2px solid whitesmoke;
}

#navbarNav a {
  color: whitesmoke !important;
}

.navbar-toggler-icon {
  border: 2px solid white;
  border-radius: 5px;
}
/* Start Of Slider */
/* Slider Height  */

#carouselExampleIndicators .carousel-item img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 90vh;
}
/* Content on the slider */

.carousel-caption {
  position: absolute;
  width: 60%;
  top: 40%;
  left: 0;
}

.carousel-caption h1 {
  height: fit-content;
  width: fit-content;
  font-size: 50px;
  font-weight: bold;
  margin-left: 20%;
  line-height: 0.8;
  letter-spacing: -0.5;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carousel-caption h4 {
  margin-top: 20px;
  height: fit-content;
  width: fit-content;
  font-size: 20px;
  margin-left: 20%;
  line-height: 0.8;
  letter-spacing: -0.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Subject Container */

.heading {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.heading h1 {
  position: relative;
  font-size: 6vh;
  font-family: "Arvo", serif;
  text-transform: capitalize;
  color: #0f0f0f;
  border-bottom: 1vh solid #8e2de2;
  border-radius: 3px;
}

.subject-container {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  position: relative;
  width: 360px;
  height: 350px;

  transition: 0.3s ease-out;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
  margin: 35px;
}
.card .image-box {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.card .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  display: block;
  transition: 0.5s;
}
.card .content {
  position: absolute;
  background: #8e2de2;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 12px;
  transition: all 0.5s cubic-bezier(0.48, -0.28, 0.41, 1.4);
  box-sizing: border-box;
  overflow: hidden;
}
.card .content h1 {
  text-align: center;

  font-style: italic;
}

.card:hover .content {
  width: 100%;
  height: 75%;
  left: 0;
  bottom: 0;
}
.content {
  font-family: "Arvo", serif;
}

.content p {
  margin: 10px 0 0;
  padding: 1em 1em;
  transform: translateY(2em);
  line-height: 1.3em;
  transition: 0.3s;
  text-align: center;
  opacity: 0;
}
.card:hover .content p {
  transform: translateY(0);
  opacity: 1;
}
.card:hover {
  box-shadow: 0 0 2em rgba(0, 0, 1, 0.2);
}

/* Why choose us heading */

.choose-us {
  width: 100vw;
  height: fit-content;
}
/* Specification images to make responsive */
.specification-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #8e2de2;
  justify-content: center;
}
.specification-img {
  border: 5px solid whitesmoke;
  border-radius: 5%;
  margin: 25px;
  padding: 10px;
}

.specification-img img {
  height: 40vh;
  width: auto;
  align-items: center;
  justify-content: center;
}
.specification-img h5 {
  margin-left: 30px;
}
/* our achievements */

.our-achievements {
  display: flex;
  color: #8e2de2;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.record {
  position: relative;
  bottom: 10px;
  display: flex;
  width: 25vw;
  height: 25vh;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 3px solid #8e2de2;
  border-radius: 20px;

  font-family: "Arvo", serif;
  font-size: 3vw;
  font-weight: bold;
}
/* End of our achievements */

/* Testimonial CSS*/
.section {
  position: relative;
  width: 100%;
  height: ;
}

/* End of testimonial */

/* Footer */

.page-footer {
  background: #8e2de2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e2de2, #734ac5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e2de2, #734ac5);
}

.page-footer a {
  color: whitesmoke;
}
